# Data Science Tools and Ecosystem

This notebook briefly summarizes Data Science tools and ecosystems

__Objectives:__
+ List common languages in Data Science
+ Name popular libraries used by Data Scientists
+ Show useful tools for Data Science
+ Illustrate some basic arithmetic expressions

Some of the popular languages used in Data Science are:
1. R
2. Python
3. SQL
4. Java
5. Julia
6. Scala
7. JavaScript

Data Science commonly uses the following libraries:
1. NumPy
2. Pandas
3. Scikit-learn
4. TensorFlow
5. Apache Spark
6. ggplot2

|Data Science Tools|
|------|
|Jupyter|
|RStudio|
|Spyder|

### Examples of arithmetic expressions in Python

In [15]:
# An arithmetic expression to multiply then add integers

(3*4)+5

17

In [43]:
# An expression that converts minutes to hours by dividing by 60

total_minutes = 200
hours, minutes = divmod(total_minutes, 60)
print(f"{total_minutes} minutes equals {hours} hours, {minutes} minutes.")

200 minutes equals 3 hours, 20 minutes.

## Author
Tiffini Oman